.deps
.libs
build
modules
*.lo
*.loT
*.la
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
config.cache
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
configure.ac
install-sh
libtool
ltmain.sh
ltmain.sh.backup
missing
mkinstalldirs
run-tests.php
test.ini
tmp-php.ini
autom4te.cache
uopz-*.tgz
